[submodule "config/.config/tmux/plugins/--force"]
	path = config/.config/tmux/plugins/--force
	url = https://github.com/tmux-plugins/tpm
[submodule "config/.config/tmux/plugins/tpm"]
	path = config/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
