.DS_Store
config/.config/fisher/github.com
config/.config/helm
config/.config/configstore
# config/.config/fish/functions
config/.config/fish/fish_variables
config/.config/nvim/.netrwhist
config/.config/insight-nodejs/insight-clinic.json
config/.config/nextjs-nodejs/config.json
