"*":
  "exception-reporting":
    userId: "a8954e09-2c3f-528a-3f78-2c45f51c0635"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
  react: {}
  editor:
    invisibles: {}
    fontFamily: "Anonymous Pro"
    showIndentGuide: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: true
    fontSize: 15
    softTabs: false
  "atom-beautify":
    _analyticsUserId: "73d93ec0-9716-4eb9-99ae-272d7fb9e943"
  "meteor-helper": {}
  linter:
    statusIconScope: "File"
    showErrorPanel: false
  "linter-eslint":
    useGlobalEslint: true
    globalNodePath: "/usr/local"
".attribute-values.js.jsx.source":
  editor:
    softWrapHangingIndent: 2
".js.jsx.react.source":
  editor:
    softWrapHangingIndent: 2
".js.jsx.source":
  editor:
    softWrapHangingIndent: 2
".js.source.subtlegradient":
  editor:
    softWrapHangingIndent: 2
